.word {
  font-size: 70px;
}

.purple {
  color: #b400b9;
}

.red {
  color: #c62d48;
}

.yellow {
  color: #c6ad00;
}

.green {
  color: #98c379;
}

.blue {
  color: #56b6c2;
}

.search ul {
  list-style: none;
}

.common-Button {
  white-space: nowrap;
  display: inline-block;
  font-family: "Camphor", "Open Sans", "Segoe UI", sans-serif;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #7795f8;
  text-decoration: none;
  transition: all 0.15s ease;
}

.common-Button:active {
  background-color: #f6f9fc;
  transform: translateY(1px);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.common-Button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 80%;
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d4dada;
  border-radius: 3px;
  box-shadow: none;
  vertical-align: bottom;
  -webkit-rtl-ordering: logical;
  user-select: text;
  cursor: auto;
  text-rendering: auto;
  font-size: 16px;
  font-family: Merriweather, Serif;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
}

input:focus {
  border: 1px solid #07682c;
  outline: none !important;
}
